@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

*
{
font-family: 'Poppins', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;

}

#standard-basic{
    max-width:500px;
    width: 90vw;
    font-style: italic;
    background-color: lightcoral;    
}

.new{
    max-width:500px;
    width: 90vw;
    font-style: italic;
    margin-top: 20px;
    
}